* {
    font-size: small;
}
#canvas {
    background-color: #f5f5f5;
}
#kategoriTable .kategoriTable,
#kategoriAdd .kategoriAdd,
#kategoriUpdate .kategoriUpdate {
    margin: 80px 30px 20px 270px;
}
#kategoriAdd .kategoriAdd label,
#kategoriUpdate .kategoriUpdate label {
    font-weight: 600;
}
