* {
    font-size: small;
}
#canvas {
    background-color: #f5f5f5;
}
#ulasanTable .ulasanTable,
#ulasanAdd .ulasanAdd,
#ulasanUpdate .ulasanUpdate {
    margin: 80px 30px 20px 270px;
}
#ulasanAdd .ulasanAdd label,
#ulasanUpdate .ulasanUpdate label {
    font-weight: 600;
}
