* {
    margin: 0;
    padding: 0;
    width: auto;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: poppins;
}
/* ---------- Header ---------- */
#header .navbar {
    padding: 20px 0;
    font-family: Poppins;
    background-image: linear-gradient(to right, #dbe7c9, #789461);
}

#header .nav-link {
    font-weight: 500;
    color: white;
}

#header .nav-link:hover,
.nav-link:active {
    color: #395144;
}

#header .logo img {
    height: 25px;
    width: auto;
}
/* konten */
.carousel {
    min-width: 100%;
    max-height: 500px;
}

.carousel-item img {
    object-fit: cover;
    min-width: 100%;
    height: 500px;
}

.gradient-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
        to top,
        rgba(0, 0, 0, 1) 0%,
        rgba(0, 0, 0, 0) 45%
    );
}

.carousel-caption a.headline {
    color: white;
    font-weight: 700;
    font-size: 20px;
    text-decoration: none;
}

.carousel-caption p.text-warning {
    color: #ffc107;
}
#carousel .headline:hover,
#section-1 .headline-section-1:hover,
#section-2 .headline-section-2:hover {
    color: #ff6b00;
}
#section-1 .headline-section-1,
#section-2 .headline-section-2 {
    font-size: 14px;
    text-decoration: none;
    color: black;
    font-weight: 600;
}
#section-3 .headline-section-3 {
    font-size: 18px;
    text-decoration: none;
    color: black;
    font-weight: 600;
}

#prestasi .content-prestasi {
    width: 400px;
}
#section-1 .selengkapnya,
#section-2 .selengkapnya,
#section-3 .selengkapnya {
    text-decoration: none;
    color: rgb(175, 175, 175);
}
#section-1 .selengkapnya:hover,
#section-2 .selengkapnya:hover,
#section-3 .selengkapnya:hover {
    color: rgb(117, 117, 117);
}
#Section-6 {
    padding: 50px 20px 130px 20px;
    color: #fe7d21;
    background-color: #0f428a;
}
#Section-6 p {
    font-size: 14px;
    color: white;
}
#Section-6 li {
    margin: 8px 0;
    font-size: 14px;
    color: white;
}

#footer .footer {
    gap: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 -3px 25px rgba(0, 0, 0, 0.15);
    background-color: #dbe7c9;
}
#footer .logo img {
    height: 40px;
    width: auto;
    margin: 20px 0;
}
#footer p {
    margin: 10px 0;
    padding: 0;
    font-size: 12px;
    font-weight: 600;
}
#footer .sosmed .icon {
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}
#footer .sosmed i {
    color: #395144;
}
#footer .sosmed .icon:hover {
    background-color: #ebebeb;
}

/* #section-1 .news-1 {
    height: 500px;
    align-items: center;
    justify-content: space-around;
} */

/* 
@media (max-width: 767.98px) {
    #header .navbar {
        margin: 15px 10px;
        padding: 10px;
    }
    #header .nav-link {
        font-weight: 500;
        color: #395144;
    }
    #header .nav-link:hover,
    .nav-link:active {
        color: #789461;
    }
    #header .logo img {
        height: 20px;
        width: auto;
    }
} */
